<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.adibalwani03.wat" >

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.Camera"/>
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
	    android:name=".WAT"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo">
	    <!-- BroadcastReceiver that listens for incoming SMS messages -->

        <activity
            android:name=".cameraTest"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	    <activity android:name=".ReadActivity"></activity>
	    <activity android:name=".ComposeActivity"></activity>
    </application>

</manifest>
